
header {
  background-color: #f0f0f0;
  padding: 10px 0;
}
.SearchHeader{
  padding-top: 10px;
  padding-bottom: 20px;
  width:40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
}
.HeaderButtons{
  text-align: center;
}
.nav-button {
  display: inline-block;
  padding: 10px 130px;
  
  text-decoration: none;
  color: #333;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 0px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #ccc;
}

.card{
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.46);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  display: inline-block;
  box-sizing: border-box;
  flex-direction: column;
}
.card .cardImage{
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}
.card .cardTitle{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 0%);
}
.card .cardNameText{
  font-family: Arial, sans-serif;
  color: hsla(0, 0%, 30%);
  
}
