.App {
  display: flex;
}
.MainContentWrapper {
  flex: 1; /* Takes the remaining space */
  padding: 20px; /* Add padding inside the main content */
  margin-left: 220px; /* Adjust to the width + padding of the sidebar */
}
header {
  background-color: #f0f0f0;
  padding: 10px 0;
}
.SearchHeader{
  padding-top: 10px;
  padding-bottom: 20px;
  width:40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
}
.HeaderButtons{
  text-align: center;
}
.nav-button {
  display: inline-block;
  padding: 10px 130px;
  
  text-decoration: none;
  color: #333;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 0px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #ccc;
}

.card{
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.46);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  display: inline-block;
  box-sizing: border-box;
  flex-direction: column;
}
.card .cardImage{
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}
.card .cardTitle{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 0%);
}
.card .cardNameText{
  font-family: Arial, sans-serif;
  color: hsla(0, 0%, 30%);
  
}
.MainContent {
  flex: 1; /* Takes the remaining space */
  padding: 20px; /* Add padding inside the main content */
  margin-left: 220px; /* Adjust to the width + padding of the sidebar */
}
.SideBar {
  width: 200px; /* Set the width of the sidebar */
  height: 100vh; /* Make the sidebar full height */
  background-color: #f8f9fa; /* Background color of the sidebar */
  padding: 20px; /* Add padding inside the sidebar */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Optional: Adds a shadow for a subtle effect */
  position: fixed; /* Fixes the sidebar to the viewport */
  top: 0;          /* Aligns the sidebar to the top of the viewport */
  left: 0;         /* Aligns the sidebar to the left of the viewport */
}
.SideBar .SideBarBtns{
  margin-top: 100px;
}
.SideBar .Btns{
  width: 200px;
  height: 50px;
  margin-top: 20px;
}
